<%- include("\includes/header.ejs") %>

    <div class="dashboard">
        <h2>Dashboard</h2>
        <div class="revenue">
            <h3>Total Revenue</h3>
            <p class="amount"> <%= total/20 %> </p>
        </div>
        <div class="sales">
            <h3>Total Sales</h3>
            <p class="amount"> <%= total %> </p>
        </div>
    </div>
</body>
</html>