<%- include("includes/header.ejs") %>

    <div class="product">
        <a href="http://localhost:8081/home/product/add" class="product-btn">Add Product</a>
        <a href="http://localhost:8081/home/showProduct" class="product-btn">View Product</a>
    </div>
</body>
</html>